.groups-page {
  position: relative;
  min-height: 99vh;
  .groups-page-content-section {
    //margin-bottom: 30px;
    /* margin-bottom: 30px; */
      padding: 2% 4%;
      .search-input-section {
        width: 350px;
        margin: 4% auto 2% auto;
      }
      .categories-groups-section {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 2%;
        .category-group {
          width: 340px;
          -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          margin: 25px;
          box-sizing: border-box;
          &.preferred-category { .category-title { background-color: #b8ceff !important; } }
          .category-title {
            padding: 20px;
            text-align: center;
            font-family: "Express Sans Regular", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            background-color: #F44362;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .group-list-section {
            height: 427px;
            overflow-y: scroll;
            .group-list {
              padding: 20px;
              background-color: rgba(213, 213, 213, 0.26);
              border-bottom: 1px solid #d3d3d3;
              cursor: pointer;
              font-family: "Express Sans Regular", sans-serif;
              font-size: 14px;
              letter-spacing: 2px;
              line-height: 20px;
            }
          }

        }
      }
    .no-category-selected-text {
      margin-top: 45px;
        p {
          text-align: center;
          font-size: 23px;
          font-family: 'Express Sans Regular', sans-serif;
          text-transform: uppercase;
        }
    }
  }
  .loader-icon {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  .back-button-section {
    position: absolute;
    top: 40px;
    left: 40px;
    .back-btn {
      background-color: #b8ceff;
    }
  }
}