<section class="groups-page">
  <div class="back-button-section" *ngIf="!is_loading">
      <button mat-fab class="back-btn" routerLink="/">
        <mat-icon>arrow_back</mat-icon>
      </button>
  </div>
  <div class="groups-page-content-section" *ngIf="!is_loading">
        <div class="search-input-section">
            <mat-form-field class="text-input-black-underline"
                            fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
              <input type="text" matInput placeholder="Search Group" name="artist_name" [(ngModel)]="search_group">
              <mat-icon matSuffix *ngIf="!search_group">search</mat-icon>
              <button mat-button *ngIf="search_group" matSuffix mat-icon-button aria-label="Clear" (click)="search_group =''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        </div>
        <div class="categories-groups-section">

            <div class="category-group preferred-category" *ngIf="preferred_category && preferred_category.id">
                <div class="category-title">{{preferred_category.name}}</div>
                <div class="group-list-section">
                    <div class="group-list" *ngIf="preferred_category?.groups.length === 0">
                      Empty
                    </div>
                    <div class="group-list"
                         *ngFor="let groups of preferred_category?.groups  | filter:search_group:['name']"
                         (click)="groupClicked(groups)">
                      {{groups.name}}
                    </div>
                </div>
            </div>

            <div class="category-group other-category" *ngFor="let other_cat of other_selected_categories">
                <div class="category-title">{{other_cat?.name}}</div>
                <div class="group-list-section">
                    <div class="group-list" *ngIf="other_cat?.groups.length === 0">
                      Empty
                    </div>
                    <div class="group-list"
                         *ngFor="let groups of other_cat?.groups | filter:search_group:['name']"
                         (click)="groupClicked(groups)">
                      {{groups.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="no-category-selected-text" *ngIf="empty_category">
            <p>No Category Selected</p>
        </div>
  </div>

  <div class="loader-icon" *ngIf="is_loading">
    <mat-spinner [strokeWidth]="3" [diameter]="80" [color]="primary"></mat-spinner>
  </div>
</section>