<section class="other-categories-page">
  <div class="other-categories-body" *ngIf="!is_loading">
    <div class="other-categories-title">
      Select other categories you would like to see
    </div>
    <div class="check-input-section">
        <mat-checkbox
          class="example-margin"
          *ngFor="let cat of other_catalogues; let i = index"
          #category_value
          (change)="catalogueChanged(cat, category_value.checked)">
          {{cat.name}}
        </mat-checkbox>
    </div>
    <div class="btn-section">
      <button mat-raised-button class="btn next-back" (click)="goToScreen('back')">Back</button>
      <button mat-raised-button class="btn next-btn" (click)="goToScreen('next')">Next</button>
    </div>
  </div>

  <div class="preferred-category-section" *ngIf="!is_loading">
     <div class="preferred-title">Preferred Category</div>
     <div class="preferred-sub-title">(click below to change)</div>
     <div class="preferred-cat">
       <button mat-raised-button
               class="btn preferred-cat-btn"
               matTooltip="Change Preferred Category"
               matTooltipPosition = "right"
               (click)="openChangeCategoryModal()" [disableRipple]="true">
         {{preferred_category?.name ? preferred_category?.name : 'None'}}
       </button>
     </div>
  </div>

  <div class="loader-icon" *ngIf="is_loading">
    <mat-spinner [strokeWidth]="3" [diameter]="80" [color]="primary"></mat-spinner>
  </div>
</section>
