<section class="view-group-modal">
  <div class="view-group-top-section" cdkFocusInitial>
    <div class="close-btn">
      <i class="material-icons close-btn-icon" (click)="closeModal()">close</i>
    </div>
  </div>
  <div class="view-group-content">
        <div class="category-name">{{group_data.name}}</div>
        <div class="category-city">City: {{group_data.city}}</div>
        <div class="category-descr-title">Description</div>
        <div class="category-descr-text" [innerHtml]="group_data.description"></div>
        <div class="category-link-text">
          <a href="{{group_data.link}}" target="_blank">Learn more</a>
        </div>
  </div>
</section>