<section class="landing-page">
  <div class="landing-page-body" *ngIf="!is_loading">
    <div class="landing-page-title">
      Welcome to the Gauteng Meet Up Group
    </div>
    <div class="select-input-section">
      <mat-form-field class="mat-form-field select-field">
          <mat-select placeholder="Select Preferred Category" [(value)]="selected_cat_id" [disableRipple]="true">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cat of catalogues" [value]="cat.id">
              {{cat.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-raised-button class="next-btn" (click)="GoToNextScreen()">Next</button>
    </div>
  </div>
  <div class="loader-icon" *ngIf="is_loading">
    <mat-spinner [strokeWidth]="3" [diameter]="80" [color]="primary"></mat-spinner>
  </div>
</section>

