// Colors

// $primary_color: #00AEEF !important;
$primary_color: #FFF !important;
$secondary_color: #ed1c24;
$third_color: #010101 !important;
$forth_color: #eff3f7 !important;
$firth_color: #010101 !important;
