mat-form-field {
    height: inherit;
    width: 100%;
    max-height: inherit;
    .mat-error {
      font-family: 'Express Sans Regular', sans-serif;
      font-size: 12px;
      letter-spacing: 4px;
      line-height: 17px;
    }
    .mat-input-wrapper {
      padding-bottom: 1.30em !important;
    }
    .mat-form-field-label {
      color: #010101 !important;
      font-family: 'Express Sans Regular', sans-serif;
    }
    .mat-input-underline.mat-form-field-underline {
      background-color: #000 !important;
    }
    .mat-input-ripple.mat-form-field-ripple {
      background-color: #000 !important;;
    }
    .mat-select-placeholder {
      font-family: 'Express Sans Regular', sans-serif;
    }
  .mat-select-arrow {
    color: #010101;
  }
}

mat-select {
  .mat-select-value {
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 23px;
    font-family: 'Express Sans Regular', sans-serif;
    @include sm-mobile { font-size: 16px; }
  }
}

.mat-select-panel {
  box-shadow: none !important;
  border: 1px solid #000;
  max-height: 255px !important;
  padding: 0px 1px;
  .mat-option {
    font-weight: 100 !important;
    letter-spacing: 2px;
    line-height: 15px;
    font-family: 'Express Sans Regular', sans-serif;
    &.mat-active {
      background-color: #eff3f7 !important;
    }
    &:hover {
      background-color: #eff3f7 !important;
    }
  }
}

mat-checkbox {
  cursor: initial !important;
  .mat-checkbox-layout {
    cursor: pointer;
  }
}

.text-input-black-underline {
  input {
    height: 30px !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    letter-spacing: 2px;
    font-family: 'Express Sans Regular', sans-serif;
    caret-color: #000 !important;
    @include sm-mobile { font-size: 12px !important; }
  }
  .mat-input-underline.mat-form-field-underline {
    background-color: #000 !important;
  }
  .mat-input-ripple.mat-form-field-ripple {
    background-color: #000 !important;;
  }
  .mat-input-placeholder.mat-form-field-placeholder {
    font-family: 'Express Sans Regular', sans-serif;
    font-size: 13px !important;
    font-weight: 100 !important;
    color: #8a8a8a !important;
    margin-top: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    @include sm-mobile { font-size: 15px !important; }
  }
  &.mat-form-field-type-mat-select {
    .mat-input-placeholder {
      margin-top: -1px;
    }
  }
  .mat-input-suffix {
    position: absolute;
    bottom: 36%;
    right: 0px;
    span {
      font-family: 'Express Sans Regular', sans-serif;
      font-size: 14px !important;
      font-weight: 100 !important;
      letter-spacing: 2px;
      color: #8a8a8a;
    }
  }
  .mat-icon-button {
    .material-icons {
      font-size: 21px !important;
    }
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #000 !important;
  }
}
