$small-mobile-width: 360px;
$mobile-width: 600px;
$sm-tablet-width: 840px;
$tablet-width: 959px;
$desktop-width: 1024px;
$large-desktop-width: 1440px;
// 1900px, 1680px, 1440px, 1280 
@mixin sm-mobile {
  @media (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin sm-tablet {
  @media (max-width: #{$sm-tablet-width})  {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width})  {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop_to_larger {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media (max-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin larger-desktop {
  @media (min-width: #{$large-desktop-width + 1px}) {
    @content;
  }
}

@mixin custom-query($max) {
  @media (max-width: $max) { @content; }
}