/*
This file is used for cutomizing 
Material design them Colors
*/

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-red, 400);
$accent: mat-palette($mat-orange, 200);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);